.review-iteam-container {
  width: 50%;
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  align-items: center;
  margin-left: 200px;
  padding: 5px 30px;
  position: relative;
}
.review-iteam-container h3 {
  color: rgb(47, 0, 255);
}
.review-iteam-container img {
  width: 100px;
}

.removeButton {
  display: block;
  background-color: transparent;
  border: none;
  position: absolute;
  width: 50px;
  top: 0px;
  right: 10px;
}
.delete-shopping-cut {
  color: red;
  font-size: 30px;
}
