.main-body {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.body-product {
  flex-basis: 65%;
  padding: 1rem;
  margin-left: 6rem;
  border-right: 2px solid rgb(68, 67, 67);
}
.order-summary {
  flex-basis: 25%;
  padding: 1rem;
}
