.single-product-container {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px solid gray;
}
.img-container {
  flex-basis: 25%;
}
.img-discription-container {
  flex-basis: 70%;
  padding: 1rem;
}
.img-discription-container h3,
p {
  padding: 10px;
  margin-top: 3px;
}
.img-discription-container .name {
  color: rgba(0, 0, 255, 0.808);
}
.img-discription-container .price {
  font-weight: 600;
}

/* button  */
.product-button {
  width: 200px;
  padding: 0.3rem 1rem;
  cursor: pointer;
  background-color: rgb(245, 187, 41);
  border-radius: 5px;
  border: 1px solid gray;
  outline: none;
}
